# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/build-with-act.sh
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests-examples/demo-todo-app.spec.ts
/e2e/.auth/



.nx/cache
.nx/workspace-data
**/vite.config.{js,ts,mjs,mts,cjs,cts}.timestamp*

.unlighthouse
/bbm-sprint-2025.xml
/bbm-sprint-2025-bbm.xml
